body {
    border: 1px solid black;
}

.flexible-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
}

.column {
    height: 150px;
}

@media (max-width: 720px) {
    .flexible-grid {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 360px) {
    .flexible-grid {
        grid-template-columns: 100%;
    }
}