* {
	margin: 0;

}

body {
		background-color: #ecf0f1;
}
#container {
	padding-top: 40px;
	/*background: green;*/
	display: inline-block;
	width: 100%;
	text-align: center;
}

#fieldsContainer {
	display: inline-block;
	background-color: #2ecc71;
	padding-top: 20px;
	padding:  0 auto;
	width: 100%;
}

#error {
	display: inline-block;
	background-color: yellow;
	width: 100%;
	visibility: hidden;
	color: red;
}

#listofcontacts{
	display: block;
	background-color: #3498db;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 50px;

}

#listofcontacts table {
	width: 100%;
}

#noResult{
	visibility: hidden;
}

#search {
	display: inline-block;
	width: 100%;
	padding: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {background: #f2f2f2}

#nameBtn {
	text-align: left;
	border:  none;
	font-weight: bold;
	cursor:  pointer;
	width: 100%;

}